[un-cloak] {
	display: none;
}

a {
	display: inline-block;
	color: #3498db;
	font-size: 16px;
	text-decoration: none;
	transition: color 0.3s ease, font-size 0.3s ease, transform 0.6s ease;
}

a:hover {
	color: #e74c3c;
	font-size: 20px;
	transform: rotateY(360deg);
}


.flex-container {
	display: flex;
	background-color: DodgerBlue;
  }
  
  .flex-container > div {
	background-color: #f1f1f1;
	margin: 10px;
	padding: 20px;
	font-size: 30px;
  }

